[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
pyyaml = "*"
loguru = "*"
databases = "*"
mongoengine = "*"
requests = "*"
python-dotenv = "*"
pytube = "*"
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
flask = "*"
flask-login = "*"
flask-wtf = "*"

[dev-packages]

[requires]
python_version = "3.11.4"
